.home-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.home-page__footer {
  width: 100%;
  height: 40px;
  background-color: var(--color-accent-orange);
  flex-shrink: 0;
}
