.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-cream);
  overflow: visible;
}

body.app-body {
  padding-bottom: 550px;
}

.app__content {
  width: 100%;
}

